.nav {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  /* grid-area: n;     */
  /* background-color: rgb(138, 68, 68); */
  height: 800px;
  overflow: auto;
  margin: 0;
  padding: 0%;
  padding-bottom: 20px;
  position: relative;
  background-image: url("../../photo/wiza.jpg");
  background-size: 100%, 100%;
}

.nav:before {
  position: fixed;
  margin: 0;
  padding: 0%;
  height: 820px;
  width: 470px;
  background-color: rgba(22, 37, 33, 0.7);
  content: "";
}

/* .nav::-webkit-scrollbar{
    width: 7px;
  }    

  .nav::-webkit-scrollbar-thumb{
    background-color: rgb(85, 85, 83);
    border-radius: 20px;
  }  */

.photoload {
  margin: 0;
  padding: 0%;
  width: 100px;
}

.d_tree_container {
  list-style: none;
  padding: 0%;
  margin: 0%;
  display: block;
}

.d_tree_node {
  padding-top: 5px;
  padding-left: 5px;
  width: auto;
  white-space: nowrap;
  margin-left: 20px;
}

.uzel {
  position: relative;
  display: block;
  height: 28px;
  width: 100%;
  margin-right: 20px;
}

.uzel:hover {
  background-color: #4f7cac;
  /* transform: scale(1.1); */
  cursor: pointer;
}

.uzel:active {
  background-color: yellow;
  /* transform: scale(1.1); */
  cursor: pointer;
}

.d_photochild {
  display: inline-block;
  position: relative;
  bottom: 20%;
  padding-right: 5px;
}

.d_photochild.active {
  transform: rotate(45deg);
}

.photochild {
  width: 12px;
}

.col {
  display: inline-block;
  position: relative;
  bottom: 25%;
}

.col.cdvig {
  padding-left: 20px;
}

.country {
  padding-right: 5px;
  position: relative;
  height: 26px;
  top: 7px;
}

.d_tree_node .activeLink {
  color: yellow;
}

.d_tree_node a {
  color: silver;
  text-decoration: none;
  font-size: 18px;
}

.scrolling {
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 10, .6); */
}
