.block{
    position: relative;
    border-style: solid;
    width: 97%;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.instr{
    color: rgb(85, 85, 207);
    font-size: 20px;
}

.country{
    padding: 10px 10px 10px 50px;
    color: rgb(85, 85, 207);
    font-size: 20px;
}

.text{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.dateteg{
    padding: 10px 10px 10px 10px;    
}

.date{
    display: inline-block;
    color: rgb(85, 85, 207);
    font-size: 18px;
}

.teg{
    display: inline-block; 
}

.textteg{
    margin-left: 10px;
    border-radius: 10px;
    background: red;
    left: 30px;
    padding: 5px 5px 5px 5px;
}

.blockscroll{
    width:100%;
    height: 700px;
    overflow: auto;
}

