.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 1;
  /* grid-area: h; */
  /* background-color: yellow; */
  background-image: url("../../photo/plane1.jpg");
  background-size: 45%, 100%;
  position: relative;
}

.header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 10, 0.4);
  content: "";
}

.header img {
  width: 50px;
}

.flexblock {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}

.blockSearch {
  flex: 0 0 409px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.blockdannie {
  position: relative;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.search {
  position: relative;
  background: rgb(212, 212, 5);
  border-radius: 20px;
  height: 45%;
  width: 80%;
  margin: 0 10px;
  font-size: 18px;
}

.searchInstruction {
  position: relative;
  background: rgb(212, 212, 5);
  border-radius: 20px;
  flex: 0 0 320px;
  height: 38%;
  font-size: 18px;
  margin-left: 18px;
}

.tegi {
  position: relative;
  border-radius: 10px;
  height: 36%;
  background: rgb(212, 212, 5);
  margin-left: 18px;
  padding-top: 3px;
}

.tegi.active {
  background: rgb(235, 132, 15);
}

.tegi.active:hover {
  background: rgb(212, 212, 5);
}

.text {
  margin: 0 10px;
}

.tegi:hover {
  background: rgb(235, 132, 15);
  cursor: pointer;
}

.parentdocument {
  font-size: 25px;
  color: rgb(117, 115, 245);
}

.list {
  margin-left: 18px;
  border-radius: 20px;
  height: 48%;
  padding: 0 15px;
  font-size: 18px;
  background: rgb(212, 212, 5);
}
